.shopcategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
  }
  
  .adjustedimg {
    width: 100%;
    height: auto;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .item-price {
    font-weight: bold;
    /* text-align: center; */
  }
  
  .item div:first-child p {
    font-weight: normal;
    /* text-align: left; */
    margin-top: 10px;
    margin-bottom: 5px;
  }
  